*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(csapat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
        display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#main{
    max-width: 1200px;
    width: 550px;
}

form{
    position: relative;
    width: 480px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.752);
    opacity: 0.9;
    box-sizing: content-box;
    border-radius: 30px;
    padding: 80px 50px;
    backdrop-filter: blur(5px);
}
#str ~ div{
    margin-bottom: 10px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#log{
    display: grid;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    background-color: rgb(0, 128, 47);
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 5s;
    font-size: 18px;
    font-weight: bold;
}

#log:hover{
    transform: translateY(-3px);
    background-color: red;
    box-shadow: 0 5px 6px black;
    color: black;
}

.inp{
    display: block;
    align-items: center;
    margin: auto;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    text-align: center;
    transition: all 5s;
}

.inp:focus{
    outline: none;
    background-color: rgb(207, 204, 204);
    border: 1px solid black;
}

button{
    position: absolute;
    left: 50%;
}


#regist{
    transform: translate(-230px, -260%);
    padding: 10px;
}

#forgot{
    transform: translate(30px, -250%);
    padding: 3px;
}

button{
    width: 200px;
    transition: border-color 5s;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
}

button:hover{
    transform: translateY(-3px);
    background-color: red;
    box-shadow: 0 5px 6px black;
    color: black;
}
