*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(csapat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: grid;
    gap: 20px;
    margin-left: auto;
    grid-template-columns: 1fr 2fr;
}

.sidebar{
    margin: auto;
    background-color: rgba(255,255,255,0.65);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}


.results-wrapper{
    background-color: rgba(255,255,255,0.45);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    width: 390px;
    height: 340px;
}

i{
    position: absolute;
    bottom: 240px;
    z-index: 1;
}

#searchInput{
    text-align: center;
    width: 250px;
    height: 30px;
    outline: none;
    border: 2px solid grey;
}

#searchInput:focus{
    outline: none;
    border: 2px solid blue;
}

input::placeholder{
    font-size: 12;
    font-style: italic;
    color: blue;
}

.team-card{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

.team-card:hover{
    transform: translateY(-3px);
    background-color: aquamarine;
    cursor: grab;
}

.team-logo{
    width: 60px;
    height: 60px;
    background: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    font-weight: bold;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    font-style: italic;
}
#results{
    height: 77%;
    overflow: scroll;
}



select{
    margin: 0 90px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #91909077;
    transition: border-color 5s;
}
select:focus{
    background-color: white;
}
fieldset{
    margin-top: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
}
legend{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    font-style: italic;
    margin: 5px auto;
    text-align: center;
}
button{
    background-color: #91909077;
    margin-bottom: 10px;
    width: 80px;
    height: 25px;
    cursor: pointer;
}
button:hover{
    color: white;
    box-shadow: 2px 2px 4px grey;
}
h2{
    text-align: center;
}
#count{
    margin-bottom: 5px;
    color: red;
}